# --- Server Configuration ---
PORT=3000
NODE_ENV=development

# --- PostgreSQL Database ---
PGHOST=your_host_here
PGUSER=your_user_here
PGPASSWORD=your_password_here
PGDATABASE=your_dataBase_here
PGPORT=your_port_here
